<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>django login</title>
  </head>
  <body>
    {%for message in messages%}
    <div class="alert alert-{{message.tags}}"></div>
    {% if user.is_authenticated %}
    <h3>Namaskaaram {{fname}}</h3>
    {%endif%} {%endfor%}
    <h1>Welcome to the login page!</h1>
    <br />
    <button type="submit"><a href="./signup">sign up</a></button>
    <button type="submit"><a href="./signin">sign in</a></button>
    <button type="submit"><a href="/signout">sign out</a></button>
    <script src="your-script.js"></script>
  </body>
</html>
